RewriteEngine On

RewriteRule ^Inicio$                           index.php
RewriteRule ^acceso$ 		                       ?c=auth&a=userAuth
RewriteRule ^Registro$                         ?c=admin&a=registerGuest
RewriteRule ^Guardar$                          ?c=admin&a=CreateUserLog
